In [10]:
import pandas as pd

df = pd.read_csv("1.csv")

df

,num_games,num_players,impostor_agent,innocent_agent,discussion,start_location
0,10,4,gpt-3.5,gpt-ada,True,random
1,10,4,gpt-ada,gpt-3.5,True,random

In [11]:
df.loc[2] = df.loc[1]
# df.loc[3] = df.loc[1]

In [12]:
df['impostor_agent'] = ['llama', 'llama', 'llama']
df['innocent_agent'] = ['llama', 'llama', 'llama']

df['num_games'] = [100, 100, 100]

df['num_players'] = [5, 5, 5]

df['impostor_graph_guidance'] = [True, True, False]
df['innocent_graph_guidance'] = [True, False, True]

df

,num_games,num_players,impostor_agent,innocent_agent,discussion,start_location,impostor_graph_guidance,innocent_graph_guidance
0,100,5,llama,llama,True,random,True,True
1,100,5,llama,llama,True,random,True,False
2,100,5,llama,llama,True,random,False,True

In [14]:
df.to_csv("graph_guidance_exp_3.csv")